
.head {
  background-color: #b3ab99;
  margin-right: 50px;
  margin-left: 50px;
  text-align: center;
  padding-top: 5px;

  p {
    font-size: 50px;
  }
}

.nav {
  margin-right: 50px;
  margin-left: 50px;
}

h1 {
  color: white;
}

.heads1 {
  text-align: center;
}

.home1 {
  text-align: center;
  color: white;
  font-size: 50px;
}

.lists {
  margin-bottom: 130px;
  text-align: center;
}

.bs1 {
  background-color: white;
}

.restaurant {
  color: white;

  h1,
  h2 {
    text-align: center;
  }

  .info {
    text-align: center;
    margin: 1em auto;
    max-width: 640px;
    color: white;

    img {
      margin: auto;
    }

    a {
      color: white;
      font-size: 25px;
    }
  }
}
