//
// .head {
//   background-color: #b3ab99;
//   margin-right: 50px;
//   margin-left: 50px;
//   text-align: center;
//   padding-top: 5px;
//
//   p {
//     font-size: 50px;
//   }
// }
//
// .nav {
//   margin-right: 50px;
//   margin-left: 50px;
// }
//
// h1 {
//   color: white;
// }
//
// .heads1 {
//   text-align: center;
// }
//
// .home1 {
//   text-align: center;
//   color: white;
//   font-size: 50px;
// }
//
// .lists {
//   margin-bottom: 130px;
//   text-align: center;
// }
//
// .bs1 {
//   background-color: white;
// }
//
.head {
  background-color: #403e34;
  max-width: 800px;
  margin: auto;
  margin-bottom: 20px;

  h1 {
    text-align: center;
    padding-top: 5px;
    font-size: 50px;
    color: white;
  }
}

.home1 {
  text-align: center;
  font-size: 50px;
}

.heads1 {
  text-align: center;
  font-size: 40px;
}

.restaurant {
  font-family: 'Didact-Gothic';
  font-size: 2em;

  h1, {
    text-align: center;
  }

  .info {
    text-align: center;
    margin: 1em auto;
    max-width: 640px;

    img {
      margin: auto;
    }

    a {
      color: white;
      font-size: 45px;
    }
  }
}

.google-maps {
  max-width: 800px;
  margin: auto;
  margin-bottom: 50px;
}
