.foodChoices {
  text-align: center;
}

.thumbpics1 {
  background-color: #aca69b;
}

.menu1 {
  // text-align: center;
  // padding: 60px;
  color: white;
  // text-decoration: none;
  font-size: 17px;
}
